a:hover {
  background-color: #7AFF33;
}

body {background-color: #348EF2 }
main {
  padding: 0 10px;
}

header {
  background #338BFF
  padding: 0.25em;
  text-align: center;
}

topnav {
  display: flex;
  justify-content: center;
  background: #338BFF;
}
