a:hover {
  background-color: #7AFF33;
}

body {background-color: #348EF2 }
main {
  padding: 0 10px;
}

header {
  background #338BFF
  padding: 0.25em;
  text-align: center;
}

topnav {
  display: flex;
  justify-content: center;
  background: #338BFF;
}

img {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 150px;

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.flex-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.homepage-img{
width:500px!important;
height:500px!important;
}



body {
  background: #fcc;
  margin: 0;
}

nav {
  display: none;
  clear: both;
  justify-content: center;
  background: #333;
  flex-direction: column;
}
nav a {
  padding: 1.25em 1.5em;
  color: #ccc;
  background: #555;
  text-decoration: none;
  transition: all 1.5s;
}

.menu {
  background: #555;
  text-align: center;
  color: #fff;
  line-height: 2em;
}
.menu-toggle {
  display: flex;
}

/* comment in for CSS-only solution: */
 .menu:hover + nav,
nav:hover {
  display: flex;
}



/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: #cfc;
  }
  .menu {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
  }
  /* just change the menu colours on hover above mobile widths */
  nav a:hover {
    color: #dfd;
    background: #797;
  }

}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
}
