a:hover {
  background-color: #7AFF33;
}
html{height: 100%;margin:0;padding:0;}
body {background-color: #348EF2;padding:0;margin:0;height: 100%;}
main {
  padding: 0;
  margin-left: 0;
  margin-top: 5%;
}
.artisthome{
  height: 100%;
}

header {
  height: 100%;
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  border:none;
}

header img{
  width: 100%;
  border:none;
  margin:0;
  padding:0;
  text-align: left;
  border-radius: 0px;
}

.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.dark-overlay{
  width: 100%;
  background:black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  opacity: 0.8;
}
i {
  border: solid white;
  border-width: 0 12px 12px 0;
  display: inline-block;
  padding: 12px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

topnav {
  display: flex;
  justify-content: center;
  background: #338BFF;
}

img {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 150px;

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.flex-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.homepage-img{
width:500px!important;
height:500px!important;
}

.page-intro-title{
  border: 3px solid;
  border-color: white;
  padding:0.5em;
}



nav {
  display: none;
  clear: both;
  justify-content: center;
  background: #333;
  flex-direction: column;

  border: solid 1px;
  border-color:transparent;
  border-radius: 30px;
  margin-top: 1%;
}
nav a {
  padding: 1.25em 1.5em;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
}

nav a.active{
  padding: 1.25em 1.5em;
  color: black;
  background: white;
  text-decoration: none;
  transition: all 0.2s;
}

.menu-home {
  background: #555;
  text-align: center;
  color: #fff;
  line-height: 2em;
}
.menu-toggle {
  display: flex;
}

/* comment in for CSS-only solution: */
 .menu:hover + nav,
nav:hover {
  display: flex;
}

h1{
  font-family:

}

.space-divider-40{
  height: 150px;
  width: 100%;

}

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */


  .menu {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
  }
  /* just change the menu colours on hover above mobile widths */
  nav a:hover {
    color: black;
    background: white;
  }

}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */


}
