a:hover {
  background-color: #7AFF33;
}
html{height: 100%;margin:0;padding:0;}
body {background-color: #333333;padding:0;margin:0;height: 100%;}
main {
  padding: 0;
  margin-left: 0;
  margin-top: 5%;
  position: relative;
  z-index: 1;
}
.artisthome{
  height: 100%;
}
.artist-bio{
  height: 600px;
    max-height: 400px;
    overflow: hidden;
  width: 100%;
}
header {
  height: 100%;
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  border:none;
}

header img{
  width: 100%;
  border:none;
  margin:0;
  padding:0;
  text-align: left;
  border-radius: 0px;
}

.page-intro {
  height: 30%!important;
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  border:none;
  overflow: hidden;
}

.page-intro img{
  width: 100%;
  border:none;
  margin:0;
  padding:0;
  text-align: left;
  border-radius: 0px;
  text-overflow: hidden;
  height: auto;
  position: relative;

}
.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.dark-overlay{
  width: 100%;
  background:black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  opacity: 0.9;
}
i {
  border: solid white;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 8px;
}

.down {
  transform: rotate(45deg);
}

topnav {
  display: flex;
  justify-content: center;
  background: #338BFF;
}

img {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 150px;

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.flex-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.homepage-img{
width:500px!important;
height:500px!important;
}

.page-intro-title{
  border: 3px solid;
  border-color: white;
  padding:0.5em;
  margin-bottom: 7%;
}



nav {
  display: none;
  clear: both;
  justify-content: center;
  background: #222;
  flex-direction: column;

  border: solid 1px;
  border-color:transparent;
  border-radius: 30px;
  margin-top: 1%;
}
nav a {
  padding: 1.25em 1.5em;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
}

nav a.active{
  padding: 1.25em 1.5em;
  color: black;
  background: white;
  text-decoration: none;
  transition: all 0.2s;
}

.bio-title{
  color:white;
  text-align: left;
  margin: 0;
  padding:0;
  margin-bottom: 1%;
}

.bio-desc{
  color:white;
  text-align: left;
  font-size:16pt;
}

.bio-by{
  color:white;
  text-align: left;
  font-size:14pt;
  margin:0;
}

.menu-home {
  background: #555;
  text-align: center;
  color: #fff;
  line-height: 2em;
}
.menu-toggle {
  display: flex;
}

/* comment in for CSS-only solution: */
 .menu:hover + nav,
nav:hover {
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  border:none;
}
.grid-item {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  border:none;
}

.space-divider-40{
  height: 150px;
  width: 100%;

}

#scroll-down-icon {
        animation-name: bounce-1;
        animation-timing-function: linear;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    @keyframes bounce-1 {
        0%   { transform: translateY(0) rotate(45deg); }
        50%  { transform: translateY(-20px) rotate(45deg);  }
        100% { transform: translateY(0) rotate(45deg);  }
    }



.more-info-header{
    display:none;
}

.more-info-footer{
    display: none;
}

.more-info{
    border: 1px solid white;
    border-radius: 20px;
    background: white;
}


.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
#close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close-modal:hover,
#close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

















/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */


  .menu {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
  }
  /* just change the menu colours on hover above mobile widths */
  nav a:hover {
    color: black;
    background: white;
  }

}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */


}
